In [3]:
import requests
import urllib
import pandas as pd
from requests_html import HTML
from requests_html import HTMLSession

In [4]:
def get_source(url):
    """Return the source code for the provided URL. 

    Args: 
        url (string): URL of the page to scrape.

    Returns:
        response (object): HTTP response object from requests_html. 
    """

    try:
        session = HTMLSession()
        response = session.get(url)
        return response

    except requests.exceptions.RequestException as e:
        print(e)

In [5]:
def get_results(query):
    
    query = urllib.parse.quote_plus(query)
    response = get_source("https://www.google.co.uk/search?q=" + query)
    
    return response

In [6]:
def parse_results(response):
    
    css_identifier_result = ".tF2Cxc"
    css_identifier_title = "h3"
    css_identifier_link = ".yuRUbf a"
    css_identifier_text = ".IsZvec"
    
    results = response.html.find(css_identifier_result)

    output = []
    
    for result in results:

        item = result.find(css_identifier_text, first=True).text
        
        output.append(item)
        
    return output

In [7]:
def google_search(query):
    response = get_results(query)
    return parse_results(response)

In [8]:
spin = ["spin", "break", "offbreak", "legbreak", "off-break", "leg-break", "orthodox", "unorthodox"]
seam = ["seam", "pace", "medium", "fast", "swing", "seamer"]

def spin_check(search):
    results = google_search(search)
    
    spin_count = 0
    seam_count = 0
    
    for i in range(len(results)):
        
        for j in range(len(spin)):
            if spin[j] in results[i].lower():
                spin_count += 1
            else:
                pass
        
        for k in range(len(seam)):
            if seam[k] in results[i].lower():
                seam_count += 1
            else:
                pass
            
    print(spin_count)
    print(seam_count)
    
    if spin_count > seam_count:
        return 1
    
    elif seam_count > spin_count:
        return 0
    
    elif seam_count == spin_count:
        return "Check"

In [9]:
bowlers_df = pd.read_csv("new_bowlers.csv")
bowlers = bowlers_df['new_players']

In [18]:
spin_nospin = []

In [19]:
for k in range(20):
    test = spin_check(bowlers[k] + " cricket bowling style")
    spin_nospin.append(test)
    print(bowlers[k])

0
5
M Jansen
0
2
KA Jamieson
0
9
JA Richardson
0
4
RP Meredith
0
7
C Sakariya
6
0
Lalit Yadav
11
0
Jalaj S Saxena
1
11
LI Meriwala
4
0
FA Allen
7
2
PWH de Silva
0
1
VR Iyer
0
4
Umran Malik
0
2
Akash Singh
0
6
GHS Garton
4
2
K Yadav
0
6
NT Ellis
4
2
RV Patel
1
9
IC Porel
7
0
AU Rashid
0
5
TH David

In [20]:
spin_dict = {
    "bowler": bowlers,
    "is_spin": spin_nospin
}

In [21]:
spin_df = pd.DataFrame(spin_dict)

In [22]:
spin_df

            bowler  is_spin
0         M Jansen        0
1      KA Jamieson        0
2    JA Richardson        0
3      RP Meredith        0
4       C Sakariya        0
5      Lalit Yadav        1
6   Jalaj S Saxena        1
7      LI Meriwala        0
8         FA Allen        1
9     PWH de Silva        1
10         VR Iyer        0
11     Umran Malik        0
12     Akash Singh        0
13      GHS Garton        0
14         K Yadav        1
15        NT Ellis        0
16        RV Patel        1
17        IC Porel        0
18       AU Rashid        1
19        TH David        0

In [24]:
spin_df.to_csv("spin_newbowlers.csv")

In [16]:
spin_check("M Jansen cricket bowling style")

0
5

0

In [17]:
spin_nospin

NameError: name 'spin_nospin' is not defined